# Here I hope to find the discrepency of the cluster number produced by my files

In [2]:
import pandas as pd
import numpy as np


ovi_in = pd.read_csv('oviIN_june29/preprocessed_inputs-v1.2.1/preprocessed_nodes.csv')
ovi_in

,id,key,0.0,0.05,0.1,0.5,0.75,1.0,instance,celltype,...,status,cropped,statusLabel,cellBodyFiber,somaRadius,somaLocation,roiInfo,notes,inputRois,outputRois
0,1003215282,1,1,1,1,1,1,1,CL229_R,CL229,...,Traced,False,Roughly traced,PDM19,301.0,"[23044, 14981, 11600]","{'INP': {'pre': 87, 'post': 351, 'downstream':...",NaN,"['EPA(R)', 'GOR(R)', 'IB', 'ICL(R)', 'INP', 'S...","['GOR(R)', 'IB', 'ICL(R)', 'INP', 'SCL(R)', 'S..."
1,1005952640,2,2,1,1,2,2,2,IB058_R,IB058,...,Traced,False,Roughly traced,PVL20,NaN,NaN,"{'INP': {'pre': 464, 'post': 1327, 'downstream...",NaN,"['ATL(R)', 'IB', 'ICL(R)', 'INP', 'PLP(R)', 'S...","['ATL(R)', 'IB', 'ICL(R)', 'INP', 'PLP(R)', 'S..."
2,1006928515,3,1,1,1,3,3,3,CL300_R,CL300,...,Traced,False,Roughly traced,PVL13,236.0,"[12083, 10523, 16816]","{'INP': {'pre': 79, 'post': 126, 'downstream':...",NaN,"['ATL(R)', 'IB', 'ICL(R)', 'INP', 'SCL(R)', 'S...","['ATL(R)', 'IB', 'ICL(R)', 'INP', 'SCL(R)', 'S..."
3,1007260806,4,2,1,1,4,4,4,CL301_R,CL301,...,Traced,False,Roughly traced,PVL13,236.0,"[13524, 10108, 16480]","{'INP': {'pre': 40, 'post': 128, 'downstream':...",NaN,"['GOR(R)', 'IB', 'ICL(R)', 'INP', 'PLP(R)', 'S...","['IB', 'ICL(R)', 'INP', 'PLP(R)', 'SCL(R)', 'S..."
4,1008024276,5,3,2,2,5,5,5,FB5N_R,FB5N,...,Traced,False,Roughly traced,AVM08,472.5,"[19178, 29711, 37312]","{'SNP(L)': {'post': 5, 'upstream': 5, 'mito': ...",SMPCREFB5_4,"['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2506,987273073,2507,3,8,8,409,604,629,(PVL05)_L,NaN,...,Traced,False,Roughly traced,NaN,NaN,NaN,"{'SNP(R)': {'pre': 65, 'post': 52, 'downstream...",NaN,"['CRE(-ROB,-RUB)(R)', 'CRE(-RUB)(L)', 'CRE(L)'...","['CRE(-ROB,-RUB)(R)', 'CRE(-RUB)(L)', 'CRE(L)'..."
2507,987842109,2508,3,9,23,533,780,815,NaN,NaN,...,Orphan,NaN,Orphan hotknife,NaN,NaN,NaN,"{'SNP(R)': {'pre': 2, 'post': 13, 'downstream'...",NaN,"['SMP(R)', 'SNP(R)']","['SMP(R)', 'SNP(R)']"
2508,988567837,2509,2,3,4,16,58,63,FB4G_R,FB4G,...,Traced,False,Roughly traced,AVM08,NaN,NaN,"{'SNP(R)': {'pre': 6, 'post': 73, 'downstream'...",CRELALFB4_3,"['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F..."
2509,988909130,2510,2,3,4,389,559,572,FB5V_R,FB5V,...,Traced,False,Roughly traced,AVM10,296.5,"[13226, 32024, 18600]","{'SNP(R)': {'pre': 1, 'post': 28, 'downstream'...",CRELALFB5,"['AB(R)', 'CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX',...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F..."
2510,989228019,2511,2,3,4,389,559,572,FB5V_R,FB5V,...,Traced,False,Roughly traced,AVM10,296.5,"[12516, 33587, 18648]","{'SNP(R)': {'pre': 1, 'post': 45, 'downstream'...",CRELALFB5,"['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F..."

In [3]:
ovi_in['0.0'].max()

5

In [4]:
#read in .txt file

In [5]:
ovi_ids_older = pd.read_csv('oviIN_june29/clustering_inputs_v1.2.1/only_inputs.txt', sep=" ", header=None)
ovi_ids_older

                 0           1   2
0        234630133   296855409   1
1        234630133   296885362   2
2        234630133   297908595   1
3        234630133   298603730   1
4        234630133   326253554  41
...            ...         ...  ..
197132  7112622044  5813080768   3
197133  7112622044  5813096198   2
197134  7112622044  5813098223   1
197135  7112624972   576566223   1
197136  7112624972   610312734   1

[197137 rows x 3 columns]

In [6]:
# Read in another txt file
ovi_ids2_new = pd.read_csv('original_inputr_removed_ids.txt', sep=",", header=None)
ovi_ids2_new

                 0           1   2
0        234630133   296855409   4
1        234630133   296885362   2
2        234630133   297908595   1
3        234630133   298603730   1
4        234630133   326253554  41
...            ...         ...  ..
197132  7112622044  5813080768  10
197133  7112622044  5813096198   2
197134  7112622044  5813098223   5
197135  7112624972   576566223   1
197136  7112624972   610312734   1

[197137 rows x 3 columns]

Already noticing a difference in weights between the older one (ovi_ids_older) and the more recently created one. Here is perhaps the reason we are getting more seperation.

Now I am going to run these two edgelists through format_edgelist.py and run them at 0.0 resolution to see if they produce 5 or 5+ cluster ids

In [12]:
# Pull older ran data
ovi_mod_new = pd.read_csv('partition_inputr_removed_ids.txt')
ovi_mod_new

      1
0     2
1     3
2     3
3     3
4     3
...  ..
2505  5
2506  4
2507  3
2508  6
2509  2

[2510 rows x 1 columns]

In [16]:
ovi_mod_new['1'].unique()

array([2, 3, 4, 1, 5, 6, 7])

In [14]:
# Pull newer ran data
ovi_mod_old = pd.read_csv('partition_only_inputs.txt')
ovi_mod_old

      1
0     2
1     2
2     2
3     2
4     2
...  ..
2505  4
2506  3
2507  2
2508  5
2509  1

[2510 rows x 1 columns]

In [17]:
ovi_mod_old['1'].unique()

array([2, 3, 1, 4, 5])