In [52]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

path = '/Users/rw2822/Documents/Github/flybrain-clustering/oviIN/clustering/'
cluster_info_file = 'partition_inputsoutputs_formatted.txt'
edge_list_file = 'inputsoutputs.txt'
body_ids_file = 'inputsoutputs_key.txt'

# Read the files
cluster_info = pd.read_csv(path+cluster_info_file, delimiter=' ', header=None).rename(columns={0: "cluster_0.0"})
edge_list = pd.read_csv(path+edge_list_file, delimiter=' ', header=None).rename(columns={0:"node1", 1:"node2", 2:"weight"})
body_ids = pd.read_csv(path+body_ids_file, delimiter=' ', header=None).rename(columns={0: "body_id", 1:" key"})
# Edit the files
Merge the cluster info, and body IDs to create preprocessed nodes csv
preprocessed_nodes = pd.concat([body_ids, cluster_info],axis=1)

In [53]:
# Edge_list rearranging
edge_list[["node1", "node2"]] = np.sort(edge_list[["node1", "node2"]])
grouped_edges = edge_list.groupby(["node1" ,"node2"]).agg(total_weight=pd.NamedAgg(column="weight", aggfunc=sum))
edge_list = grouped_edges.reset_index()

In [55]:
edge_list

             node1       node2  total_weight
0        203253253   203594164             5
1        203253253   203598466             1
2        203253253   266528086             1
3        203253253   295802733             1
4        203253253   295849410             3
...            ...         ...           ...
452622  5901221890  5901232053             1
452623  5901225197  5901232690             1
452624  5901232053  6400000773             2
452625  5901232053  7112613371             1
452626  5901232546  7112622044             1

[452627 rows x 3 columns]

In [56]:
preprocessed_nodes

         body_id   key  cluster
0     1003215282     1        1
1     1005952640     2        1
2     1006928515     3        1
3     1007260806     4        1
4     1007402796     5        1
...          ...   ...      ...
4544   988269593  4545        3
4545   988291460  4546        4
4546   988567837  4547        5
4547   988909130  4548        5
4548   989228019  4549        5

[4549 rows x 3 columns]